In [46]:
conditions = ["confirmed", "deaths", "recovered"]


# 특정나라 날짜별 확진자, 사망자, 완치자 df
def make_country_df(country):
    def make_df(condition):
        # 파일 read
        df = pd.read_csv(f"data/time_{condition}.csv")
        # Country/Region Column이 country와 같은 row만 가져옴
        df = df.loc[df["Country/Region"] == country]
        df = (
            df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"])
            .sum()
            .reset_index(name=condition)
        )
        df = df.rename(columns={"index": "date"})

        return df

    final_df = None
    for condition in conditions:
        condition_df = make_df(condition)
        if final_df is None:  # 첫 df 처리 시
            final_df = condition_df
        else:  # 두 번째 df 처리시 merge
            final_df = final_df.merge(condition_df)

    return final_df


make_country_df("Iran")

        date  confirmed  deaths  recovered
0    1/22/20          0       0          0
1    1/23/20          0       0          0
2    1/24/20          0       0          0
3    1/25/20          0       0          0
4    1/26/20          0       0          0
..       ...        ...     ...        ...
397  2/22/21    1582275   59572    1351390
398  2/23/21    1590605   59663    1358541
399  2/24/21    1598875   59736    1365253
400  2/25/21    1607081   59830    1372308
401  2/26/21    1615184   59899    1379922

[402 rows x 4 columns]