In [42]:
daily_df = pd.read_csv("data/daily_report.csv")

# 전세계 확진자, 사망자, 완치자 df
totals_df = (
    daily_df[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")
)
totals_df = totals_df.rename(columns={"index": "condition"})
totals_df

        date  confirmed   deaths  recovered
0    1/22/20        557       17         30
1    1/23/20        655       18         32
2    1/24/20        941       26         39
3    1/25/20       1433       42         42
4    1/26/20       2118       56         56
..       ...        ...      ...        ...
397  2/22/21  111721889  2474178   63016509
398  2/23/21  112109753  2485434   63295139
399  2/24/21  112554301  2497488   63504597
400  2/25/21  113001412  2507624   63732290
401  2/26/21  113415604  2517422   63992558

[402 rows x 4 columns]